@font-face {
  font-family: 'FtyStrategycideNcv-elGl';
  src: local('FtyStrategycideNcv-elGl'), url(./Fonts/FtyStrategycideNcv-elGl.ttf) format('truetype');
}

@font-face {
  font-family: 'SpecialElite-Regular';
  src: local('SpecialElite-Regular'), url(./Fonts/SpecialElite-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
